body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr .6fr 5fr;
}

.sidebar {
    border: 3px solid;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(100% - 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}

.sidebarHeader {
    font-size: 25px;
    padding-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sbicons {
    align-self: flex-start;
}

.sbicons ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sbicons ul img {
    flex: 0 0 0;
}

.dbicon {
    justify-self: center;
}

.sboptions {
    grid-column: 1 / 2;
    font-size: 20px;
    text-align: left;
}

.sidebarHeader, li {
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
    padding: 20px;
}

.header {
    border: 3px solid;
    display: grid;
    grid-template-columns: 0.3fr 3fr .5fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
}

.searchicon {
    grid-row: 1;
}

#searchbar, .notifications, .profilepic, .name {
    grid-row: 1;
}

.name {
    white-space: nowrap;
    grid-column: 6 / 7;
}

.profilepic{
    grid-column: 5 / 6;
}

.notifications{
    grid-column: 4 / 5;
}

.nav {
    border: 3px solid;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    grid-template-columns: 2fr 4fr 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.profilepicBig{
    grid-row: 1 / 3;
}

.nav h1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    justify-self: start;
}

.nav button {
    grid-row: 1 / 3;
}

.nav h2 {
    align-self: end;
    justify-self: start;
    margin: 0;
    font-weight: normal;
}

.new{
    grid-column: 4 / 5;
}
.upload{
    grid-column: 5 / 6;
}
.share{
    grid-column: 6 / 7;
}

.content {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    gap: 10px;
    margin: 10px;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.projects {
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.colorside {
    grid-row: 1 / 3;
    background-color: gray;
}

.card {
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 3fr 1fr;
}

.cardicons {
    grid-column: 2 / 3;
}