@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    height: 100%;
}

body {
    font-family: 'Roboto', san-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    min-height: 100%;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 10fr;
}

.sidebar {
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr calc(100% - .5fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: #7f1d1d;
    color: rgb(255, 255, 255);
}

.bannerpic {
    width: 40px;
    grid-column: 5 / 6;
    justify-self: right;
}

.bannerpicBig {
    width: 100px;
    grid-row: 1 / 3;
    justify-self: right;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

.sidebarHeader {
    font-size: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sidebar ul {
    padding-top: 0;
    margin-top: 0;
}

.sbicons {
    align-self: flex-start;
}

.sbicons ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sbicons ul img {
    flex: 0 0 0;
}

.dbicon {
    justify-self: center;
}

.sboptions {
    grid-column: 1 / 2;
    font-size: 20px;
    align-self: flex-start;
}

.sidebarHeader img {
    width: 50px;
}

.sidebar img {
    filter: invert(99%) sepia(100%) saturate(16%) hue-rotate(241deg) brightness(104%) contrast(100%);
}

.sidebarHeader, li {
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr .2fr .3fr 1.2fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
    padding-top: 15px;
}

.searchicon {
    grid-row: 1;
    justify-self: right;
    padding-left: 15px;
}

#searchbar, .notifications, .profilepic, .name {
    grid-row: 1;
}

.name {
    white-space: nowrap;
    grid-column: 6 / 7;
    padding-right: 10px;
    justify-self: left;
}

.profilepic{
    grid-column: 5 / 6;
}

.notifications{
    grid-column: 4 / 5;
}

.nav {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    grid-template-columns: 2fr 4fr 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 5px 5px grey;
    margin-bottom: 5px;
}

.profilepicBig{
    grid-row: 1 / 3;
}

.nav h1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    justify-self: start;
}

.nav button {
    grid-row: 1 / 3;
    margin-left: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    background-color: #7f1d1d;
    border: 1px solid white;
    border-radius: 30px;
}

.nav h2 {
    align-self: end;
    justify-self: start;
    margin: 0;
    font-weight: normal;
}

.new{
    grid-column: 4 / 5;
}
.upload{
    grid-column: 5 / 6;
}
.share{
    grid-column: 6 / 7;
}

.content {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 5fr .5fr 5fr;
    gap: 10px;
    background-color: rgb(214, 214, 214);
    padding: 15px;
    padding-top: 0;
}

.content p {
    margin: 0;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    border: 0px solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px gray;
}

.announcement p {
    margin: 0;
}

.announcementheader {
    font-weight: bold;
}

.announcement {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-bottom: 15px;
}

.announcement:nth-child(1){
    border-bottom: 1px solid;
}

.announcement:nth-child(2){
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.announcement:nth-child(3){
    border-top: 1px solid;
    padding-bottom: 0;
    padding-top: 15px;
    margin-bottom: 0;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: white;
}

.pHeader, .aHeader, .tHeader {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}

.projects {
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.colorside {
    grid-row: 1 / 3;
    background-color: #7f1d1d;
}

.card {
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-template-rows: 3fr 1fr;
    border: 0px solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 3px gray;
}

.cardheader{
    font-weight: bold;
    padding: 15px;
}

.cardcontent{
    padding: 15px;
}
.cardicons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2 / 3;
    padding-right: 5px;
    gap: 10px;
}

.trending {
    display: grid;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.row .pic {
    object-fit: cover;
    width: 50px;
    height: 50px;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid;
}

.row .name {
    grid-column: 3 / 4;
    justify-self: left;
    font-weight: bold;
    align-self: flex-end;
} 

.row .description{
    grid-column: 3 / 4;
    justify-self: left;
}